@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black: #0C0809;
    --red: #C10A0A;
    --grey: #4A483E;
    --light-grey: #B8BFA8;
    --white: #fff;
}

html {
    background-color: var(--black);
    color: var(--white);
}